html, body {
    width: 100%;
    height: 100%;
  }
  
  text {
    font-family: 'Hammersmith One', sans-serif;
    fill: #0019A8;
    font-size: 14px;
    cursor: pointer;
    font-weight: normal;
  }

#tube-map {
    /*margin-left: 10px;*/
    height: 500px;
    width: 1000px;
    background-color:aliceblue;
    display: block;
    margin: auto;

}

svg{
    display: block;
    margin: auto;
}

.list-group-item {
    /*margin-bottom: 5px;*/
    margin-top: 7px;
    padding-left: 5px !important;

    border-top: 1px solid crimson !important;
    border-bottom: 1px solid crimson !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-radius: 0px !important;
}

.list-group-item.active {
    background-color: #fff !important;
    color: crimson !important;
    margin-top: 7px !important;
}


.list-group-item:hover {
    color: crimson !important;
}

.list-group-item .float-end {
    color: crimson;
}

.station_image {
    width: 250px;
    height: 250px;
}
  